.credits{
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    @media(max-width: 1000px){
        flex-direction: column;
        padding: 30px 50px;
        gap: 30px;
    }
    p{
        font-size: .8rem;
    }

    .social{
        display: flex;
        flex-direction: row;
        gap: 30px;
        color: #2541B2;
    }
}