.talkToUs{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 300px;
    @media(max-width: 1200px){
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .left{
        .title{
            font-size: 5rem;
            line-height: 6rem;
            color: #2541B2;
            font-weight: 400;
            @media(max-width: 1000px){
                font-size: 4rem;
            }
        }

        .content{
            color: #4D5886;
        }
    }

    .right{
        display: flex;
        flex-direction: column;
        
        .content{
            font-size: 2rem;
            color: #2541B2;
            font-family: "Inria Sans";
            @media(max-width: 1000px){
                font-size: 1.5rem;
            }
        }
        
        form{
            width: 500px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin: 50px 0;
            @media(max-width: 1000px){
                width: 100%;
            }

            input, textarea{
                border: none;
                border-bottom: 1px solid #4D5886;
                outline: none;
                color: #2541B2;
            }

            .btn{
                align-self: flex-start;
            }

        }
    }
}