.hero {
    padding-top: 20px;
    position: relative;

    @media(max-width: 800px){
        padding-top: 5px;
    }

    .swiper{
        max-height: 45vh;
        min-height: 45vh;
        @media(max-width: 1200px){
            max-height: 30vh;
            min-height: 30vh;

        }

       .image{
        width: 100%;
        object-fit: contain;
        max-height: 45vh;
        height: 45vh;
        @media(max-width: 1200px){
            max-height: 30vh;
            min-height: 30vh;

        }
       }
    }
    .mainTitle {
        color: #cabf66;
        font-size: 3rem;
        line-height: 103.2px;
        font-weight: 300;
        letter-spacing: 1.5rem;
        font-family: "Inria Serif";
        text-align: center;
        width: 100%;
        z-index: 2;
        @media (max-width: 1200px) {
            font-size: 3rem;
            letter-spacing: 1rem;
            letter-spacing: 0.2rem;
            line-height: 50px;
            font-weight: 700;
        }

        @media (max-width: 500px) {
            font-size: 2.5rem;
            letter-spacing: 0.2rem;
            font-weight: 700;
        }
    }

    .heroSubTitle {
        width: 60%;
        margin: 50px auto 0 auto;
        line-height: 73.2px;
        letter-spacing: 0.2rem;
        z-index: 2;
        font-weight: 300;
        font-size: 3rem;
        font-family: "Inria Serif";
        text-align: center;
        text-transform: uppercase;

        @media (max-width: 1300px) {
            width: 80%;
            font-size: 2rem;
            margin-top: 10px;
            line-height: 50px;
        }

        @media (max-width: 500px) {
           width: 100%;
        }
    }

    .rotateContainer {
        position: absolute;
        right: 150px;
        bottom: 150px;
        width: fit-content;
        height: fit-content;
        @media (max-width: 1300px) {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            top: 0px;
        }
        .downArrow {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
