.successStories{
    padding-top: 50px;
    .headerContent{
        padding-top: 50px;
        width: 70vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media(max-width: 1000px){
            width: 80vw;
        }
       
    }
    .join{
        font-size: 1rem;
        color: #03B2D4;
        text-align: center;
        letter-spacing: .4rem;
    }

    .title{
        font-size: 2rem;
        font-weight: 300;
        color: #CABF66;
        text-align: center;
        span{
            font-weight: 700;
        }
    }

    .content{
        font-size: 1rem;
        color: #AA9C77;
        text-align: center;
    }

    .storiesImgWrapper{
        margin: 50px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
        @media(max-width: 1400px){
            grid-template-columns: 1fr;
            gap: 20px;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }

}


.line{
    border-top: 1px solid #2541B2;
    width: 80vw;
    margin: auto;
    @media(max-width: 1000px){
        width: 100%;
    }
}